body {
      line-height: 24px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      color: #7f7f7f;
  }

img{
      max-width: 100%;
}

a:hover{
      text-decoration: none;
      outline: none;
}

ul{
      list-style: none;
      padding: 0;
}