body {
      line-height: 24px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      color: #7f7f7f;
  }

img{
      max-width: 100%;
      vertical-align: middle;
      border-style: none;
}

a:hover{
      text-decoration: none;
      outline: none;
}

ul{
      list-style: none;
      padding: 0;
}


h1,h2,h3,h4,h5,h6{
      font-family: "Poppins", sans-serif;
      font-weight: bold;
}
.dropzone-img{
      max-width: 500px;
      max-height: 500px;
}
.dropzone {
  text-align: center;
  padding: 20px;
  border: 2px dashed black;
  background-color: #fafafa;
  color: #bdbdbd;
  border-radius: 50px;
  margin: 20px 0;
}

.dropzone:focus{
  outline: none;
  border: 2px dashed blue;
}